BeerDistributionProblem.lp
DataUCI.ipynb
.ipynb_checkpoints/DataUCI-checkpoint.ipynb
experiments/*
main.py
ProgLIn.py
Res/*
TestdiffScikitvsOPTI.py
testLearnScikit.py
testgraphe.py
test.py
graph.py
Krimp/bin/_fic.log
_fic.log
compress.conf
Krimp/bin/datadir.conf
result.txt
